{namespace coleslaw.theme.engels}

{template base}
<!doctype html>{\n}
<html>
  <head>
    <title>{$config.title}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html;" charset="{$config.charset}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <link href= "{$config.domain}/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="alternate" href="{$config.domain}/rss.xml" type="application/rss+xml" />
    {if $injections.head}
      {foreach $injection in $injections.head}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
  </head>
  <body>
    <header>
      <nav role="navigation">
        <ul>
          {foreach $link in $config.sitenav}
            <li>
              {if $link.relative}
                <a href="{$config.domain}/{$link.url}">{$link.name}</a>
              {else}
                <a href="{$link.url}">{$link.name}</a>
              {/if}
            </li>
          {/foreach}
        </ul>
      </nav>
      <h1><a href="{$config.domain}">{$config.title}</a></li></h1>
      </header>
      <main>
         {$raw |noAutoescape}
      </main>
      {if $injections.body}
      {foreach $injection in $injections.body}
        {$injection |noAutoescape}
      {/foreach}
    {/if}
    <footer>
      Unless otherwise credited all material
      {if $config.license}
        {$config.license}
      {else}
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">
          <img alt="Creative Commons License" style="border-width:0" src="{$config.domain}/css/cc-by-sa.png" />
        </a>
      {/if}
      by {$config.author}
      <a id="coleslaw-logo" href="https://github.com/redline6561/coleslaw">
        <img src="{$config.domain}/css/logo_small.jpg" alt="Coleslaw logo" />
      </a>
    </footer>
  </body>
</html>
{/template}
