main,
header,
footer,
article,
section,
aside,
details,
summary{
    margin: 0 auto;
    margin-bottom: NIL;
    width: 100%;
}

main{
    display: block;
    margin: 0 auto;
    max-width: NIL;
    padding: 0 NIL NIL;
}

footer{
    border-top: NIL;
    padding: NIL 0;
    text-align: center;
}

footer p{
    margin-bottom: 0;
}

header{
    border-bottom: NIL;
    padding: NIL 0;
    text-align: center;
}

header p{
    margin-top: 0;
}

hr{
    border: 0;
    border-top: NIL;
    display: block;
    margin-top: NIL;
    margin-bottom: NIL;
    width: 100%;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

img{
    height: auto;
    max-width: 100%;
    vertical-align: baseline;
}

@media screen and (max-width: NIL){
    article,
    section,
    aside{
        clear: both;
        display: block;
        max-width: 100%;
    }
}

embed,
iframe,
video{
    border: 0;
}